doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/scripts.js')
  body
    #nav-menu
      a(href="/") Home
      a(href="/album") Random Album
      a(href="/ranker") Ranker
    block content

    footer
      p Made by Jose Gonzalez
      .space
        a(class="links" href="https://www.linkedin.com/in/jose-gonzalez-05a597124/")
          img(class="contact-logo" src="https://image.flaticon.com/icons/svg/34/34227.svg")
        a(class="links" href="https://github.com/JoseGonzalez212")
          img(class="contact-logo" src="https://image.flaticon.com/icons/svg/25/25231.svg")